@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Prata&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
  --font-prata: "Prata", serif;
  --font-roboto: "Roboto", sans-serif;
}

@layer base {
  * {
    font-family: var(--font-roboto);
  }
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
  
  .glass {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
}

.prata-regular {
  font-family: var(--font-prata);
}

a.active hr{
    background-color: #000;
    display: block;
}

 ::-webkit-scrollbar {
  display: none;
}

@media (max-width:640px) {
  a.active{
    background-color: #000;
    color: aliceblue;
  }
}
